# Base de datos generada en tiempo de ejecucion
tonygestionclinica/db/*.sqlite
tonygestionclinica/db/*.sqlite-journal
tonygestionclinica/db/*.db

# Credenciales
.env

# Sistema
Thumbs.db
desktop.ini
.DS_Store
